body {
  padding-top: 5rem;
  background-color: aqua
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.btnLaunchers{
  background-color: chocolate;
  height: 20px;
  width: 20px
}
/* .btnN{
}
.btnE{
}
.btnW{
}
.btnS{
} */
table, th, td{
  border: solid 3px plum;
  border-collapse: collapse;
}
.replay{
  background-color: pink;
}